<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <link rel="stylesheet" href="/static/style/style.css">

</head>
<body class="relative overflow-x-hidden">

    <!-- Glow Background -->
    <div id="cursor-glow"></div>

    <header class="relative z-10 bg-[#171f33]/40 px-50 border-b border-white/10">
        <nav class="flex justify-between px-24 py-10 ">
            <div class="left-navbar">
                <p class="text-[#DDB7FF] text-[24px] font-bold">
                    Personal Portfolio
                </p>
            </div>

            <div class="flex gap-15 text-[#DAE2FD]/70 text-[16px] font-bold ">
                <p class="hover:text-[#DDB7FF]">Hero</p>
                <p class="hover:text-[#DDB7FF]">About</p>
                <p class="hover:text-[#DDB7FF]">Skills</p>
                <p class="hover:text-[#DDB7FF]">Project</p>
                <p class="hover:text-[#DDB7FF]">Contact</p>
            </div>
        </nav>
    </header>

    <!-- nanti isi section hero -->

    <script src="/static/js/script.js"></script>

</body>
</html>