<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <link rel="stylesheet" href="/static/style/style.css">

</head>
<body class="relative overflow-x-hidden">

    <!-- Glow Background -->
    <div id="cursor-glow"></div>

    <header class="relative z-10 bg-[#171f33]/40 px-50 border-b border-white/10">
        <nav class="flex justify-between px-24 py-10">
            <div class="left-navbar">
                <p class="text-[#DDB7FF] text-[24px] font-bold">
                    Personal Portfolio
                </p>
            </div>

            <div class="flex gap-15 text-[#DAE2FD]/70 text-[16px] font-bold ">
                <p class="hover:text-[#DDB7FF]">Hero</p>
                <p class="hover:text-[#DDB7FF]">About</p>
                <p class="hover:text-[#DDB7FF]">Skills</p>
                <p class="hover:text-[#DDB7FF]">Project</p>
                <p class="hover:text-[#DDB7FF]">Contact</p>
            </div>
        </nav>
    </header>

    <main class="px-50">
        <!--Hero Section-->
        <section class=" pt-20 flex px-24">
            <div class="w-full flex items-center">
                <!--Left Hero-->
                <div class="w-full flex flex-col">
                    <h1 class="text-[50px] font-extrabold">Zacky 
                        <br><span class="text-[#DDB7FF]">Innova</span>
                    </h1>

                    <h2 class="text-[24px] font-semibold text-[#4cd7f6]">Frontend Developer Student</h2>

                    <p class="text-[#cfc2d6] text-[18px]">Architecting modern digital experiences with a focus on 
                        <BR>technical precision and creative flair. Bridging the gap
                            <br> between design and high-performance code.
                    </p>

                    <div class=" mt-4 gap-4">
                        <button class="px-8 py-3 text-[#400071]  rounded-lg bg-[#B76DFF]"> Download CV</button>

                        <button class="px-8 py-3 text-[#4CD7F6] border rounded-lg border-[#4CD7F6]"> Contact Me</button>
                    </div>
                </div>

                <!--Right Hero-->

                <div class="w-full flex justify-end">
                    <P>asd</P>
                </div>
            </div>
        </section>
    </main>

    <script src="/static/js/script.js"></script>

</body>
</html>